@charset "utf-8";
/* 版心，内容有效区 */
.container{
    width: 1190px;
    margin: 0 auto;
}
/* top */
.topbg{
    background-color: #f7f7f7;
    min-width: 1190px;
}
.topnav{
    height: 36px;
    line-height: 36px;
}
.topnav .container > .ulleft > li{
    float:left;
    padding-right: 20px;
}
.topnav .container > .ulleft > .active{
    margin-left: 8px;
}
.topnav .container > .ulright >li{
    float:left;
    padding-right: 12px;
}
.topnav .container> .ulleft> li> a,
.topnav .container> .ulright> li> a{
    color: #666666;
    font-size: 12px;
}
.topnav .container> .ulleft> li> i,
.topnav .container> .ulright> li> i
{
    vertical-align: middle;
    color: #ceccd6;
}
.topnav .container> .ulleft> li> em,
.topnav .container> .ulright> li> em{
    vertical-align: middle;
    color: #ef6b18;
}

