@charset "utf-8";
/* 版心，内容有效区 */
.container{
    width: 1190px;
    margin: 0 auto;
}
/* top */
.topbg{
    background-color: #f7f7f7;
    min-width: 1190px;
}
.topnav{
    height: 36px;
    line-height: 36px;
}
.topnav .container > .ulleft > li{
    float:left;
    padding-right: 20px;
}
.topnav .container > .ulleft > .active{
    margin-left: 8px;
}
.topnav .container > .ulright >li{
    float:left;
    padding-right: 12px;
}
.topnav .container> .ulleft> li> a,
.topnav .container> .ulright> li> a{
    color: #666666;
    font-size: 12px;
}
.topnav .container> .ulleft> li> i,
.topnav .container> .ulright> li> i
{
    vertical-align: middle;
    color: #ceccd6;
}
.topnav .container> .ulleft> li> em,
.topnav .container> .ulright> li> em{
    vertical-align: middle;
    color: #ef6b18;
}
/* 头部 */
.headerbg{
    background-color: #fff;
    min-width: 1190px;
}
.headernav .container{
    /* border: 1px solid #ff6600; */
    /* 父子关系高度塌陷 */
    overflow: hidden;
}
.headernav .container .imgu{
    padding: 35px 0 30px 0;
}
.headernav .container .search{
    margin: 30px 0 0 158px;
}
.headernav .container .search .input{
    width: 540px;
    height: 40px;
    line-height: 40px;
    display: flex;
    border: 2px solid #f36b11;
}
.headernav .container .search .input > em{
    vertical-align: middle;
    font-size: 25px;
    padding-left: 12px;
    color: #f7985a;
}
.headernav .container .search .input > input{
    float: left;
    flex: 4;
    height: 40px;
    border-style:none;
    outline: none;
    /* border: 2px solid #f36b11; */
    box-sizing: border-box;
    padding-left: 10px;
}
.headernav .container .search .input > button{
    float : right;
    flex:1;
    height:40px;
    background-color: #ff6501;
    color:#ffdfd4;
    border-style: none;
    outline: none;
}
.headernav .container .search .input > button > a{
    font-size: 18px;
    color: #ffdfd4;
}
.headernav .container .search .headerlist>li{
    float: left;
    padding: 14px 0;
}
.headernav .container .search .headerlist>li>a{
    color: #9f9f9f;
    font-size: 12px/1 "宋体";
    padding-right: 11px;
}
.headernav .container .search .headerlist>li>span{
    color: #9f9f9f;
    padding-right: 11px;
}
.classificationnav .container > h3{
    width: 190px;
    height: 40px;
    color: #fff7f5;
    font:16px/40px "微软雅黑";
    background-color: #ff6501;
    float: left;
}
.classificationnav .container > h3 > em{
    font-size: 25px;
    vertical-align: middle;
    margin-left: 16px;
}
.classificationnav .container .rightnav > li {
    float: left;
    padding-left: 33px;
}
.classificationnav .container .rightnav > li > a{
    font: bold 16px/40px "微软雅黑";
    color:#333333;
}
.classificationnav .container .rightnav > li > a:hover{
    color:#F36B10;
}
.main{
    width: 100%;
    border-top: 2px solid #ed6d12;
}
.main .container .phonenav{
    height: 54px;
    line-height: 54px;
}
.main .container .phonenav > a,
.main .container .phonenav > span{
    font: 12px/1 "宋体";
    color:#666666;
    display: inline-block;
    padding-right: 8px;
}
.main .container .phonenav .huawei
{
    width: 110px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #f36b11;
    border:1px dashed #f36b11;
}
#phonecontent tr{
    border: 1px solid #EBDFD7;
}
#phonecontent td{
    padding-left: 16px;
    font:12px/30px "宋体";
    color: #666666;
}
.main .container .active{
    background-color: #fcf7f4;
   
}
.main .container .active >i,
.main .container .active > .sec >i{
    font-size: 8px;
    color:#f5cfbc;
}
.main .container .active .sec,
.main .container .sec{
    padding-top: 3px;
}
.main .container .more > a{
    color: #BA9780;
}
.main .container .more > a > i{
    font-size: 10px;
    vertical-align:middle;
}
/* recommend list */
.main .container .recommend{
    width: 210px;
    height: 1215px;
    border: 1px solid #e5e5e5;
    margin-top: 23px;
    border-top: 2px solid #FF8F45;
}
.main .container .recommend > h3{
    font: 16px/1 "微软雅黑";
    color: #DD610F;
    padding:15px 0 5px 18px;
}
.main .container .recommend > ul >li{
    width: 210px;
    height: 219px;
}
.main .container .recommend > ul > li > a > .img{
    width: 175px;
    height: 160px;
    /* line-height: 160px; */
    margin-left: 18px;
    /* border:1px solid #333333;  */
    text-align: center;
    overflow: hidden;
    margin-top: 10px;
}
.main .container .recommend > ul > li > a > .img > img{
    width:130px;
    height: 130px;
    margin-top: 13px;
}
.main .container .recommend > ul > li > a > .desc,
.main .container .recommend > ul > li > a > .price{
    margin-left: 18px;
}
.main .container .recommend > ul > li > a > .desc{
    font:12px/20px "宋体";
    color:#666666;
}
.main .container .recommend > ul > li > a > .price{
    font:14px/23px "微软雅黑";
    color:#F58347;
}



